.all{
    text-align: center;
}
#outputTong{
    background-color: #F8D7DA;
    width: 15%;
    margin:  0 auto;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#outputLuyThua{
    background-color: #F8D7DA;
    width: 15%;
    margin:  0 auto;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.black{
    text-align: justify !important;
    background-color: black;
    width: 30%;
    margin: 0 auto;
}
.inblack{
    background-color: black;
    height: 50px;
    width: 100%;
}